@font-face {
    font-family:  DINPro;
    src: url('./fonts/DINPro-Medium.otf');
    font-weight: bold;
}

*{
    margin: 0px;
    padding: 0px;
}

p, span, h1, h2, h3, h4, h5{
    font-family:  DINPro;
    font-size: 14px;
}



.propositionBarDesktop{
    color: white;
    background-color: black;
    height: 60px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.propositionBarMobile{
    color: white;
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.propositionBarMobile div:nth-child(odd) {
    min-width: 300px;
    text-align: center;
}
.propositionBarDesktop div:nth-child(odd) {
    min-width: 300px;
    text-align: center;
}


.verticalLine{
    border-left: 1px solid white;
    height: 30%;
}

.change{
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.fade{
    opacity: 0;   
}




